<% layout('/layouts/boilerplate') -%>



    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h3>
                <%= listing.title %>
            </h3>
        </div>
        <div class="col-6 offset-3">
            <div class="card show-card listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top show-img mt-3" alt="site-image">
                <div class="card-body">
                    <p class="card-text mt-3">
                    <p>Owned by: <%= listing.owner.username %>
                    </p>
                    <%= listing.description %> <br>
                        &#8377;<%= listing.price.toLocaleString("en-IN") %> <br>
                            <%= listing.location %> <br>
                                <%= listing.country %>

                                    </p>
                </div>
            </div>
        </div>

        <% if(currUser && listing.owner._id.equals(currUser._id)){ %>

            <div class="btns">
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark add-btn col-1 offset-3">Edit</a>

                <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-dark offset-5">Delete</button>
                </form>

            </div>
            <% } %>


    </div>



    <div class="col-6 offset-3">
        <% if(currUser){ %>
            <hr>
            <h4>Leave a review</h4>

            <form action="/listings/<%= listing._id %>/reviews" method="post" class="needs-validation" novalidate>

                <div class="mt-3 mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>

                <div class="mt-3 mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="4" class="form-control"
                        required></textarea>
                    <div class="invalid-feedback">
                        Please add some comments for reviews
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-dark mb-3">Submit</button>
            </form>
            <% } %>


                <% if(listing.reviews.length>0){ %>
                    <div class="row">
                        <p><b>All reviews</b></p>
                        <% for(review of listing.reviews){ %>
                            <div class="card col-5 ms-3 mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">@
                                        <%= review.author.username %>
                                    </h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">
                                        <p class="starability-result card-text" data-rating="<%= review.rating %>">
                                    </h6>
                                    <p class="card-text">
                                        <%= review.comment %>
                                    </p>

                                    </p>
                                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                                        method="post" class="mb-3">
                                        <button type="submit" class="btn btn-dark">Delete</button>
                                    </form>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <% } %>
    </div>
    <div class="col-8 offset-3 mb-3">
        <h3>Where you'll be</h3>
        <div id="map"></div>
    </div>
    </div>

    <script>
        const mapToken = "<%= process.env.MAP_TOKEN %>";


    </script>

    <script src="/js/map.js"></script>